.edit-container{
    display: flex;
    flex-direction: row;
    padding: 4rem;
}

.edit-left{
    width: 50%;
}

.edit-right{
    width: 50%;
}

.edit-inputs-container{
    display: grid;
    gap: 16px;
    justify-content: center;
    margin-bottom: 10px;
}

.edit-input{
    height: 30px;
    width: 320px;
    display: inline-block;
}

textarea {
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    max-height: 150px;
    min-height: 20px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.edit-button-container{
    min-width: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* width: fit-content; */
}