.main-wrap{
    padding: 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row dense;

    gap: 3vw;
    justify-content: center;
    justify-items: center;

    /* background: rgba(90, 130, 195, 0.2); */
    /* height: 100vh; */
}

.main-container{
    max-width: 280px;
    max-height: fit-content;
    display:flex;
    width: fit-content;
    flex-direction: column;

    border: 1px solid black;
    /* cursor: pointer; */
    font-size: large;
}

.main-image{}

.main-card{
    text-align: center;
    height: 100px;
    border: 1px solid black;
    background: #000000;
}

.main-nickname{
    font-family:'Titillium Web', Arial, Helvetica, sans-serif;
    color: white;
    
	font-weight:900;
	font-size:24px;
    margin: 8px 0;
}

.main-btn-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row dense;

    gap: 1vw;
    justify-content: center;
    justify-items: center;

}

.edit{
    background-color: rgb(24, 153, 214);
}

.edit:after {
    background-color: rgb(28, 176, 246);
}

.more{
    background-color: rgb(153, 44, 44);
}

.more:after {
    background-color: rgb(206, 33, 33);
}

.main-button {
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  padding: 10px 16px;
  transform: translateZ(0);
  width: 100px;
}

.main-button:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.main-button:main,
.main-button:focus {
  user-select: auto;
}

.main-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.main-button:disabled {
  cursor: auto;
}