.main-wrap{
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row dense;

    gap: 3vh;
    justify-content: center;
    justify-items: center;
    min-height: 680px;

    /* background: rgba(90, 130, 195, 0.2); */
    /* height: 100vh; */
}
